DATABASE_URL="postgresql://postgres:postgres@localhost:5432/lotto_v2"
NEXT_PUBLIC_SITE_URL="https://lotto-maker.cloud"
NEXT_PUBLIC_GA_MEASUREMENT_ID="G-YC5TTWMVKM"
GOOGLE_SITE_VERIFICATION=""
NEXT_PUBLIC_ADSENSE_CLIENT_ID=""
NEXT_PUBLIC_ADSENSE_SLOT_INLINE=""
